<div class="form-group tags-list">
    <div class="form-group tags">
        <table class="table table-hover table-striped table-bordered table-success"
               data-text="{{ 'No records found'|trans }}"
               data-delete="{{ 'Delete this tag?'|trans }}"
        >
            <thead>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Color'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>